.container {
  margin-top: 3vh;
  display: flex;
  flex-direction: column-reverse;
}

.todo-item {
  border: 1px solid;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightyellow;
  color: black;
  cursor: pointer;
}

.todo-title {
  width: 90%;
  padding: 10px;
}

.todo-item.done {
  background-color: lightgreen;
}

.todo-item .delete-btn {
  padding: 10px;
  margin-right: 10px;
}

input.invalid-input {
  background-color: lightcoral;
}